@{
    ViewBag.Title = "This is the Home Page";
}

<div class="jumbotron">
    <h1>EZ POS</h1>
    <p class="lead">EZ POS is a web based application that allows seamless creation of your own customized Point-of-sale system to integrate your business.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>
            Features include Real-time Dashboard of your statitics for your business.
            Inventory Management to keep track of all your inventory and when it is time to restock.
            Dynamic Sales Screen that will excute transactions and update the inventory. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hardware Requirements</h2>
        <p>Hardware required include Windows 7 or higher, an Internet Connection 3G or faster, and a USB keyboard and mouse. </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More Info</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>